.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    background: var(--bg);
}

.ball{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--bg);
    position: absolute;
}

